@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

body {
  font-family: 'Poppins', sans-serif;
}

.custom-rounded {
  border-radius: 10px;
}

.bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #6ed377;
  transition: transform 0.3s ease, left 0.3s ease;
  transform-origin: right;
  transform: scaleX(0);
}

.nav-link:hover::before {
  left: 0;
  transform: scaleX(1);
  animation: slideFromLeft 0.3s forwards;
}



@keyframes slideFromLeft {
  from {
    transform: scaleX(0);
    left: 100%;
  }
  to {
    transform: scaleX(1);
    left: 0;
  }
}

.nav-link:not(:hover)::before {
  animation: slideToRight 0.3s forwards;
}

@keyframes slideToRight {
  from {
    transform: scaleX(1);
    left: 0;
  }
  to {
    transform: scaleX(0);
    left: 100%;
  }
}

@keyframes slideFromLeft {
  from {
    transform: scaleX(0);
    left: 100%;
  }
  to {
    transform: scaleX(1);
    left: 0;
  }
}

nav {
  z-index: 1000 !important;
  width: 100%;
}

.burgerNav {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
}

.leftNav {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.leftNav.active {
  right: 0;
}

.main{
  width: 100%;
  height: 86.9vh;
  align-items: center;
  justify-content: center;
}

.custom-heading {
  color: #363636;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes levitateRotate {
  0% {
    transform: translateY(0) rotate(10deg);
  }
  50% {
    transform: translateY(-12px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(10deg);
  }
}

.levitating-img {
  animation: levitateRotate 3s ease-in-out infinite;
  width: 18rem;
  height: auto;
  margin-top: 15px;
  margin-right: 150px;
}

.hero{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download{
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

@media screen and (max-width: 1100px){
  .hero{
    flex-direction: column;
    text-align: center;
  }
  .custom-heading{
    font-size: 3rem;
    margin-top: 15px;
  }
  .download{
    justify-content: center;
  }
  .levitating-img{
    width: 16rem;
    margin-right: 0;
    margin-top: 30px;
  }
  @keyframes levitateRotate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-12px) ;
    }
    100% {
      transform: translateY(0);
    }
  }
}
